<ion-view view-title="">
  <ion-content class="padding" style="padding-top:0 !important">
    <div style="background:white; padding-top: 2em">
      <img class="main-image" src="img/tat_logo.png">
      <p class="warning-bar" style="font-size: 150%">Make the call, save lives</p>
      <hr>
    </div>

    <p class="assertive warning-bar"><i class="icon ion-alert-circled"></i> Please do not approach traffickers.</p>
    
    <div class="main-buttons">
      <div class="row responsive-sm">
        <a class="button button-positive col" ng-href="#/tab/report">Report a trafficking incident</a>
      </div>

      <div class="row responsive-sm">
        <a class="button button-positive col" ng-href="#/tab/red-flags">Trafficking red flags to look for</a>
        <div class="col" id="main-buttons-spacer"><!-- spacer --></div>
        <a class="button button-positive col" ng-href="#/tab/about-trafficking">About human trafficking</a>
      </div>
    </div>
    <hr>

    <h2>About Truckers Against Trafficking</h2>
    <h3>Our mission</h3>
    <p>Truckers Against Trafficking (TAT) is a 501(c)(3) that exists to educate, equip, empower and mobilize members of the trucking and travel plaza industry to combat domestic sex trafficking.</p>

    <h3>Our goals</h3>
    <ul class="reg-ul">
      <li>Make the TAT training DVD, wallet cards, and other materials a regular part of training and orientation for members of the trucking industry so that when they suspect human trafficking is taking place, they can call the National Human Trafficking Resource Center and report what they know.</li>
      <li>Partner with law enforcement to facilitate the investigation of human trafficking.</li>
      <li>Marshal the resources of the trucking industry to combat this crime.</li>
    </ul>
    <p>For more information, go to <a ng-click="openExternalLink('http://www.truckersagainsttrafficking.org')">http://www.truckersagainsttrafficking.org</a>.</p>

  </ion-content>
</ion-view>
