<ion-view view-title="About human trafficking">
  <ion-content class="padding">

    <p>Human trafficking is modern-day slavery. Traffickers use <strong>force, fraud, and coercion</strong> to control their victims. Any minor engaged incommercial sex is a victim of human trafficking.</p>
    
    <p>Trafficking can occur in many locations, including <strong>truck stops, restaurants, rest areas, brothels, strip clubs, private homes</strong>, etc. Truckers are the eyes and the ears of our nation's highways.</p>
    
    <p>If you see a young girl working any of those areas or suspect pimp control, please <a ng-href="#/tab/report">report it now</a>.
    
  </ion-content>
</ion-view>
