<ion-view view-title="Trafficking red flags to look for">
  <ion-content class="padding">
    
    <p>There may be a trafficking operation nearby if there is CB chatter about a &ldquo;commercial company&rdquo; or flashing lights to signal a &ldquo;buyer&rdquo; location.</p>

    <div class="row responsive-sm">
      <div class="col padding">
        <p>Somebody may be a current victim of human trafficking if he/she:</p>
        <ul class="reg-ul">
          <li>has a lack of knowledge of their community or whereabouts</li>
          <li>is not in control of their own identification documents (ID/passport)</li>
          <li>has restricted or controlled communication&mdash;they are not allowed to speak for themselves</li>
          <li>has an unusual demeanor: afraid, anxious, depressed, submissive, tense, nervous</li>
          <li>has signs of branding or tattooing of the trafficker's name (often on the neck)</li>
        </ul>
      </div>

      <div class="col padding">
        <p>If you suspect someone is a victim of human trafficking, here are some questions to ask him/her:</p>
        <ul class="reg-ul">
          <li>Are you being paid?</li>
          <li>Are you being watched or followed?</li>
          <li>Are you free to leave?</li>
          <li>Are you physically or sexually abused?</li>
          <li>Are you or your family threatened? What is the nature of the threats?</li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>
