<ion-view view-title="About human trafficking">
  <ion-content class="padding">

    <h3 class="page-title">About human trafficking</h3>

    <p>Human trafficking is modern-day slavery. Traffickers use <strong>force, fraud, and coercion</strong> to control their victims. Any minor engaged in commercial sex is a victim of human trafficking.</p>
    
    <p>Trafficking can occur in many locations, including <strong>truck stops, restaurants, rest areas, hotels/motels, strip clubs, private homes</strong>, etc. Truckers are the eyes and the ears of our nation's highways.</p>
    
    <p>If you see a minor working any of those areas or suspect that the person selling sex is under someone else's control in order to make a quota, please <a ng-href="#/tab/report">report your tip now</a>.
    
  </ion-content>
</ion-view>
