<ion-view view-title="Report a trafficking incident">
  <ion-content class="padding">

    <p class="warning-bar" style="text-align:left"><i class="icon ion-alert-circled"></i> When you report trafficking, those you contact will work with the FBI and local police to rescue the victims. Approaching traffickers is dangerous for you and their victims, and could lead to problems in the prosecution of the traffickers.</p>

    <div class="main-buttons">
      <div class="row responsive-sm">
        <a class="button button-block button-positive col" href="tel:+18883737888"><i class="icon ion-ios-telephone"></i> Call the hotline (USA)<br>(1-888-373-7888)</a>
        <div class="col" id="main-buttons-spacer"><!-- spacer --></div>
        <a class="button button-block button-positive col" href="tel:+18882228477"><i class="icon ion-ios-telephone"></i> Call the hotline (Canada)<br>(1-888-222-TIPS)</a>
      </div>
    </div>

    <a class="button button-block button-positive important-button" href="mailto:Report@PolarisProject.org"><i class="icon ion-ios-email"></i> Send a report via email to<br>report@polarisproject.org</a>

    <br>
    <p><strong>If you are at a truck stop/travel plaza, please notify the manager-on-duty of the suspicious activity&mdash;he/she can assist in ending the trafficking activity.</strong></p>
    <br>

    <hr>
    
    <h2>Actionable Information</h2>
    <p>Detailed information will greatly help the prosecution of traffickers. Try to report as much of the following info about the incident as you can.</p>
    <p><strong>Take photos if possible.</strong></p>

    <div class="actionable-info">
      <div class="row responsive-sm">
        <div class="col padding">
          <h3><i class="icon ion-android-car"></i> Cars</h3>
          <p>Are there cars involved in the trafficking incident?</p>
          <p>Record the <strong>make, model, color, license plate</strong>, etc.</p>
        </div>
        <div class="col padding">
          <h3><i class="icon ion-person-stalker"></i> People</h3>
          <p>Who is involved in the incident?</p>
          <p>Make note of <strong>height, weight, ethnicity, hair color, eye color, age</strong>, etc.</p>
        </div>
      </div>

      <div class="row responsive-sm">
        <div class="col padding">
          <h3><i class="icon ion-clock"></i> Date/time</h3>
          <p>When did the incident happen?</p>
          <p>What <strong>day</strong> and what <strong>time</strong>?</p>
        </div>
        <div class="col padding">
          <h3><i class="icon ion-location"></i> Location</h3>
          <p><strong>Where</strong> did the incident take place?</p>
          <p>Be as specific as you can.</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
