<ion-view view-title="Report suspicious activity">
  <ion-content class="padding">
    <h3 class="page-title">Report suspicious activity</h3>
    <p class="warning-bar" style="text-align:left"><i class="icon ion-alert-circled"></i> When you report trafficking, those you contact will work with the FBI and local police to recover the victims. Approaching traffickers is dangerous for you and their victims and could lead to problems in the prosecution of the traffickers.</p>

    <p><strong>If you are at a truck stop/travel plaza, please also notify the manager-on-duty of the suspicious activity&mdash;he/she needs to be aware of what is taking place on the lot and assist in ending it.</strong></p>

    <div class="main-buttons">
      <div class="row responsive-sm">
        <a class="button button-block button-positive col" ng-click="openExternalLink('tel:+18883737888')"><i class="icon ion-ios-telephone"></i> Call the hotline (USA)<br>(1-888-3737-888)</a>
        <div class="col" id="main-buttons-spacer"><!-- spacer --></div>
        <a class="button button-block button-positive col" ng-click="openExternalLink('tel:+18882228477')"><i class="icon ion-ios-telephone"></i> Call the hotline (Canada)<br>(1-888-222-TIPS)</a>
      </div>

      <div class="row responsive-sm">
        <a class="button button-block button-positive col" ng-click="openExternalLink('mailto:Report@PolarisProject.org')"><i class="icon ion-ios-email"></i> Send a report via email to<br>nhtrc@polarisproject.org</a>
        <div class="col" id="main-buttons-spacer"><!-- spacer --></div>
        <a class="button button-block button-positive col" ng-click="openExternalLink('sms:233733')"><i class="icon ion-iphone"></i> Text INFO or HELP to<br>BeFree (233733)</a>
      </div>
    </div>
  

    <h2>What to report</h2>
    <p><strong>If possible, take photos and email them to the hotline.</strong></p>
    <p>For law enforcement to open an investigation on your tip, they need key pieces of information. Specific tips helpful when reporting to the hotline would include:</p>

    <div class="actionable-info">
      <div class="row responsive-sm">
        <div class="col padding">
          <h3><i class="icon ion-android-car"></i> Cars</h3>
          <p>Are there cars involved in the suspicious activity?</p>
          <p>Record the <strong>make, model, color, license plate</strong>, etc.</p>
        </div>
        <div class="col padding">
          <h3><i class="icon ion-person-stalker"></i> People</h3>
          <p>Who is involved in the activity?</p>
          <p>Make note of <strong>height, weight, ethnicity, hair color, eye color, age</strong>, etc.</p>
        </div>
      </div>

      <div class="row responsive-sm">
        <div class="col padding">
          <h3><i class="icon ion-clock"></i> Date/time</h3>
          <p>When did the suspicious activity happen?</p>
          <p>What <strong>day</strong> and what <strong>time</strong>?</p>
        </div>
        <div class="col padding">
          <h3><i class="icon ion-location"></i> Location</h3>
          <p><strong>Where</strong> did the suspicious activity take place?</p>
          <p>Do you have an address? Be as specific as you can.</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
