<ion-view view-title="Trafficking red flags to look for">
  <ion-content class="padding">

    <h3 class="page-title">Red flag indicators</h3>
    
    <ul class="reg-ul">
      <li>There may be a trafficking operation nearby if there is CB chatter about &ldquo;commercial company&rdquo; or flashing lights to signal a &ldquo;buyer&rdquo; location.</li>
    </ul>

    <div class="row responsive-sm">
      <div class="col padding">
        <p><em>Somebody may be a current victim of human trafficking if he/she:</em></p>
        <ul class="reg-ul">
          <li>has a lack of knowledge of the community or his/her whereabouts</li>
          <li>has restricted or controlled communication&mdash; not allowed to speak for self</li>
          <li>is not in control of his/her own identification documents (ID/passport)</li>
          <li>shows any acknowledgement that she/he has a pimp and is making a quota</li>
          <li>has signs of branding or tattooing of the trafficker's name (often on the neck)</li>
        </ul>
      </div>

      <div class="col padding">
        <p><em>If you suspect someone is a victim of human trafficking, here are some questions to ask him/her:</em></p>
        <ul class="reg-ul">
          <li>Do you keep your own money? If not, who does?</li>
          <li>Do your parents/siblings/relatives know where you are? If not, why not?</li>
          <li>When was the last time you saw your family?</li>
          <li>Are you physically or sexually abused?</li>
          <li>Are you or your family threatened? What is the nature of the threats?</li>
        </ul>
      </div>
    </div>

    <p>Learn more about red flags with TAT's <a ng-click="openExternalLink('http://education.truckersagainsttrafficking.org/lesson/the-tat-training-video/')">online training course</a>.</p>
  </ion-content>
</ion-view>
