<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Main Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Report Trafficking Tab -->
  <ion-tab title="Report activity" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/report">
    <ion-nav-view name="tab-report"></ion-nav-view>
  </ion-tab>

  <!-- How to Spot Trafficking Tab -->
  <ion-tab title="Red flags" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag" href="#/tab/red-flags">
    <ion-nav-view name="tab-red-flags"></ion-nav-view>
  </ion-tab>

  <!-- About Trafficking Tab -->
  <ion-tab title="Trafficking info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about-trafficking">
    <ion-nav-view name="tab-about-trafficking"></ion-nav-view>
  </ion-tab>

  <!-- the icon for this tab is hidden via CSS. CSS hides the last tab in this tab navigation, so additional tabs should be added before this one -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about-app">
    <ion-nav-view name="tab-about-app"></ion-nav-view>
  </ion-tab>


</ion-tabs>
